extends templates/_template
block head
  - var basepath = ""
  - var actualpage = "Inicio"
  - var productpage = ""
  - var categorypage = ""
  - var bannertype = "slider"
  - var imgbanner = ""
  - var logobanner = ""
  title Home
  meta(name='description', content="Estamos comprometidos con la calidad y mejora continua de nuestros sistemas, producción y servicio")
block blockcss
block postbanner
  section.features.ed-container.main-center.arrow.arrow-top.bgwhite
    .features-container.ed-item.s-90.m-80.l-100.pl-10-l
      .feature.pr-20 
        h3.h3-title.uptext Calidad
        p.p-content Estamos comprometidos con la calidad y mejora continua de nuestros sistemas, producción y servicio, cumpliendo así con los... 
        a.infobtn +info
      .feature.pr-20
        h3.h3-title.uptext Productos
        p.p-content Estamos comprometidos con la calidad y mejora continua de nuestros sistemas, producción y servicio, cumpliendo así con los... 
        a.infobtn +info
      .feature.pr-20
        h3.h3-title.uptext Noticias
        p.p-content Estamos comprometidos con la calidad y mejora continua de nuestros sistemas, producción y servicio, cumpliendo así con los... 
        a.infobtn +info
      .feature.pr-20
        h3.h3-title.uptext Bolsa de Trabajo
        p.p-content Estamos comprometidos con la calidad y mejora continua de nuestros sistemas, producción y servicio, cumpliendo así con los... 
        a.infobtn +info
block contenido
  section.home-main.banner-14
    .ed-container
      .ed-item.ed-container.m-50.l-70
        .ed-item.ed-container.cross-center.home-main-co1.banner-11.borderb_main
          .ed-item.text-ccll
            .home-banner-post-box.pl-20.pr-20
              img(src="img/logos/postet-2.png", alt="").pt-15
              p.p-content.color-reverse.mt-5 Poste-T está fabricado con riel de ferrocarril, el cual es garantía de DUREZA y FIRMEZA.
              a.infobtn.btn-green +info

            .hb-btn.tright.uptext
              span Más fuerte | más resistente
        .ed-item.ed-container.flexbox-start.text-ccll
          .ed-item.ed-container.l-40.bgwhite.pt-20
            .ed-item
              img(src="img/thumbs/thumb-home-materia-prima.jpg", alt="thumb-materia-prima")
            .ed-item
              h3.h3-title.uptext.mt-15.mb-5 Materias Primas
              p.p-content.mt-0.mb-5 Poste-T está fabricado con riel de ferrocarril.

              p.p-content.mt-0.mb-10.m-auto-movil El Poste-T se utiliza para la fabricación de cercos de alambres de púas o mallas. Fabricado bajo la norma ASTM-A-702-89 (2006)
              a.infobtn.mb-20 +info

          .ed-item.ed-container.l-60.bgwhite.borderl-min-pc.flexbox-start

            .ed-item.ed-container.flex-items-center.bgcolor-home-gray.pt-10
              .ed-item.l-20.tcenter
                img(src="img/logos/home-logo-r.png", alt="register")

              .ed-item.l-80.m-auto-movil
                h3.h3-title.uptext.mt-15.mb-5 Calidad
                p.p-content.mt-0.mb-5 Poste-T está fabricado con riel de ferrocarril.

                p.p-content.mt-0.mb-10 El Poste-T se utiliza para la fabricación de cercos de alambres de púas o mallas. Fabricado bajo la norma ASTM-A-702-89 (2006)
                a.infobtn.mb-20 +info

            .ed-item.ed-container.flex-items-center.pt-10
              .ed-item.l-20.tcenter
                img(src="img/logos/home-poste-round.png", alt="poste-round")

              .ed-item.l-80.m-auto-movil
                h3.h3-title.uptext.mt-15.mb-5 Responsabilidad Ambiental
                p.p-content.mt-0.mb-5 Poste-T está fabricado con riel de ferrocarril.

                p.p-content.mt-0.mb-10 Nos preocupamos por nuestro planeta y por eso dedicamos importantes esfuerzos enfocados a preservar nuestro medio ambiente…
                a.infobtn.mb-20 +info

      .ed-item.m-50.l-30.tweets
        .tweet-title.pt-20.pb-5
          .imgdiv.pl-20
            img(src="img/icons/twitter.png", alt="twitter")
          .h3div.pl-5
            h3.h3-twitter.uptext Tweets by #[span.tw-span @Perfimex]
          

        <a class="twitter-timeline" href="https://twitter.com/Perfimex" data-theme="light" data-chrome="noheader nofooter noborders transparent"  data-related="twitterapi,twitter" data-aria-polite="assertive" height="88%" lang="ES">Loading...</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  //- section.home-main.mb-20.banner-14
  //-   .ed-container.flexbox-start
  //-     .ed-item.l-70.home-main-co1.banner-11.ed-container.borderb_main.cross-center
  //-       .home-banner-post-box.pl-20.pr-20
  //-         img(src="img/logos/postet-2.png", alt="").pt-15
  //-         p.p-content.color-reverse.mt-5 Poste-T está fabricado con riel de ferrocarril, el cual es garantía de DUREZA y FIRMEZA.
  //-         a.infobtn +info
  //-     .ed-item.l-30.tweets
  //-       <a class="twitter-timeline" href="https://twitter.com/Perfimex" data-theme="light" data-chrome="noheader nofooter noborders transparent"  data-related="twitterapi,twitter" data-aria-polite="assertive" height="650" lang="EN">Loading...</a>
  //-       <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

block bottom
  section.quote.quote-big.banner-5.flex-column.main-end
    .bg-quote
      .ed-container.cross-center.main-center
        .co-quote.ed-item.s-90.l-50.pt-30-movil.pb-20-movil.pl-10-l
          h3(name="quienes-somos")#quienes-somos.quote-title.uptext Perfimex
          .quote-content
            p Perfimex es una empresa que nace en la ciudad de Monterrey, N.L. México, en el año de 1965. Desde nuestros inicios nos hemos dedicado a la producción y comercialización de productos de acero. 
            p  Somos los pioneros en México en producir el poste para cercas con nuestra marca “Poste-T”. Además hemos desarrollado las patentes de nuestros accesorios, tales como el clip “Bengala”, el ancla de nuestro Poste-T y el sistema de Retenidas para cerca “T-nzor”. 
            p  Somos una empresa “ALTEX” (denominación como altamente exportadora) llegando a los mercados más competitivos a nivel mundial tales como Estados Unidos de América y China. Nos hemos caracterizado por ser una empresa innovadora y dinámica en la búsqueda de nuevos productos y nuevos mercados.
        .co-quote-2.ed-item.s-90.m-60.l-50.pr-10-l
          .main-quote.main-icons-quote.relative
            h4.quote-text.uptext Nos hemos caracterizado por ser una empresa innovadora y dinámica en la búsqueda de  nuevos productos y nuevos mercados
block scripts
  script(src="js/slick.js")  