extends templates/_template
block head
  - var basepath = ""
  - var actualpage = "Inicio"
  - var productpage = ""
  - var categorypage = ""
  - var bannertype = "slider"
  - var imgbanner = ""
  - var logobanner = ""
  title Home
  meta(name='description', content="Estamos comprometidos con la calidad y mejora continua de nuestros sistemas, producción y servicio")
block blockcss
block postbanner
  section.features.ed-container.main-center.arrow.arrow-top.bgwhite
    .features-container.ed-item.s-90.m-80.l-100.pl-10-l
      .feature.pr-20 
        h3.h3-title.uptext Calidad
        p.p-content hola
        a.infobtn +info

block contenido
  section.home-main.banner-14
    .ed-container
      .ed-item.ed-container.m-50.l-70
        .ed-item.ed-container.cross-center.home-main-co1.banner-11.borderb_main
          .ed-item.text-ccll
            .home-banner-post-box.pl-20.pr-20
              img(src="img/logos/logo2.png", alt="").pt-15
              p.p-content.color-reverse.mt-5  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo vero, aperiam ipsam, eaque unde autem quam, labore corporis a obcaecati et neque aliquid quibusdam doloremque earum? Soluta a, debitis velit.
              a.infobtn.btn-green +info

            .hb-btn.tright.uptext
              span Más fuerte | más resistente
        .ed-item.ed-container.flexbox-start.text-ccll
          .ed-item.ed-container.l-40.bgwhite.pt-20
            .ed-item
              img(src="img/thumbs/thumb-home-materia-prima.jpg", alt="thumb-materia-prima")
            .ed-item
              h3.h3-title.uptext.mt-15.mb-5 Materia
              p.p-content.mt-0.mb-5 fabricado

              p.p-content.mt-0.mb-10.m-auto-movil  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque iure, est esse vero cum asperiores laborum. Labore mollitia, totam quis consequatur porro, rem ducimus eveniet autem, nesciunt iste doloremque non.
              a.infobtn.mb-20 +info

          .ed-item.ed-container.l-60.bgwhite.borderl-min-pc.flexbox-start

            .ed-item.ed-container.flex-items-center.bgcolor-home-gray.pt-10
              .ed-item.l-20.tcenter
                img(src="img/logos/home-logo-r.png", alt="register")

              .ed-item.l-80.m-auto-movil
                h3.h3-title.uptext.mt-15.mb-5 Calidad
                p.p-content.mt-0.mb-5 lorem

                p.p-content.mt-0.mb-10  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta consequatur amet dolorem vero accusamus, excepturi culpa, ad sint rerum quasi nobis architecto. Sit voluptatem consequatur vitae, eveniet, quisquam alias illum.
                a.infobtn.mb-20 +info

            .ed-item.ed-container.flex-items-center.pt-10
              .ed-item.l-20.tcenter
                img(src="img/logos/home-poste-round.png", alt="poste-round")

              .ed-item.l-80.m-auto-movil
                h3.h3-title.uptext.mt-15.mb-5 Responsabilidad
                p.p-content.mt-0.mb-5 lorem

                p.p-content.mt-0.mb-10  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio minus, libero. Cupiditate dolor iste animi maiores, possimus maxime accusamus eligendi. Ad minus, repudiandae reiciendis ut architecto iste illo, cum sequi.
                a.infobtn.mb-20 +info

      .ed-item.m-50.l-30.tweets
        .tweet-title.pt-20.pb-5
          .imgdiv.pl-20
            img(src="img/icons/twitter.png", alt="twitter")
          .h3div.pl-5
            h3.h3-twitter.uptext Tweets by #[span.tw-span @lorem]
          



block bottom
  section.quote.quote-big.banner-5.flex-column.main-end
    .bg-quote
      .ed-container.cross-center.main-center
        .co-quote.ed-item.s-90.l-50.pt-30-movil.pb-20-movil.pl-10-l
          h3(name="quienes-somos")#quienes-somos.quote-title.uptext lorem
          .quote-content
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat veniam fuga id magnam facere, aperiam exercitationem! Velit, dolor earum iure doloremque voluptas nihil, tenetur. Quaerat, dolorum. Repellat laudantium laboriosam accusamus.

            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat veniam fuga id magnam facere, aperiam exercitationem! Velit, dolor earum iure doloremque voluptas nihil, tenetur. Quaerat, dolorum. Repellat laudantium laboriosam accusamus.

            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat veniam fuga id magnam facere, aperiam exercitationem! Velit, dolor earum iure doloremque voluptas nihil, tenetur. Quaerat, dolorum. Repellat laudantium laboriosam accusamus.


        .co-quote-2.ed-item.s-90.m-60.l-50.pr-10-l
          .main-quote.main-icons-quote.relative
            h4.quote-text.uptext Nos hemos caracterizado por ser una empresa innovadora y dinámica en la búsqueda de  nuevos productos y nuevos mercados
            h4  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut assumenda iure voluptas nostrum non architecto aperiam officia voluptates ducimus vel. Corporis quod est dolor adipisci saepe repudiandae dignissimos. Illo, eum.
block scripts
  script(src="js/slick.js")  